body {
    height: 100vh;
    margin: 0;
}

.navbtn {
    margin-inline: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    transition: box-shadow 200ms;
}

.navbtn:hover {
    box-shadow: inset 0 -3px 0 0 rgb(40, 223, 255);
    cursor: pointer;
}

.about {
    margin-left: auto;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    outline: 1px solid black;
}

.navbar {
    display: flex;
    background-color: rgb(218, 218, 218);
    /* outline: 2px solid #000000; */
    height: 40px;
    align-items: center;
}

.content {
    /* outline: 2px solid blue; */
    flex-grow: 1;
    display: flex;
}

.footer {
    outline: 2px solid red;
    height: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}